body {
	font-family: Arial;
}

h1 {
	text-align: center;
}

/* flexbox dimensions */
.flexbox {
  color: black;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

/*image dimensions*/
img{
	object-fit: cover;
	width: 100%;
}

ul{
  text-align: left;
}

/* button style */
button{
  background-color: CornflowerBlue;
}
button:hover{
  box-shadow: 2px 2px 2px;
}